page-list {
  // height:calc( 100vh - 15em );

  .scroll-content{
    overflow: hidden;
  }

  .scroller{
    height: calc( 100vh - 141px );
  }

  .checked{
    text-decoration: line-through;
    opacity: 0.5;
  }
  .list{
    .label{
      .icon{
        line-height: 1;
      }
    }
  }

}
